header {
  background-color: salmon;
  display: flex;
  justify-content: center;
}

footer {
  background-color: green;
  display: flex;
  justify-content: center;
}

body {
  background-color: #ffdead;
  display: flex;
  flex-direction: column;
  justify-content: center;
}